---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TimeLineElement from "../../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profil</div>
  </div>

  <div class="mb-10 text-justify">
    I am a student at Częstochowa University of Technology, majoring in Computer Science. 
    I have a wide range of skills related to programming in JavaScript and TypeScript, as well as basic knowledge of C# and OOP. 
    I have experience working with the React framework and I am able to learn other frameworks if required for the job. 
    I am also familiar with Node.js and can use it both in the context of frontend and backend development. 
    I have experience working with the Express framework, which allows me to efficiently create web applications. 
    In my work, I emphasize accuracy and precision, as well as continuously expanding my skills by learning new technologies and programming tools.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Technik Informatyk"
      subtitle="From 2014 to 2018, Stanisław Staszic Schools in Zawiercie"
    />
    <TimeLineElement
      title="Engineer"
      subtitle="From 2020 to present, Częstochowa University of Technology"
    />
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Polski (Native)</li>
    <li>Angielski (B2)</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>C#</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>MongoDB</li>
    <li>Prisma</li>
    <li>CSS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>Astro</li>
    <li>React</li>
    <li>Nextjs</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>Git</li>
  </ul>
</BaseLayout>
