<div></div>

<script>
    function languageChecker(){
        if(/^pl\b/.test(navigator.language)){
            window.location.replace("/pl/")
        }else{
            window.location.replace("/eng/")
        }
    }
    window.addEventListener("load", languageChecker)
</script>